<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="HTTPS force" enabled="true" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>	
<rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="https://networkintelpreprodapi.analytics-hub.com:3032/{R:1}" />
                </rule>				
               
            </rules>
        </rewrite>
    </system.webServer>
</configuration>